<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="newapp">
        <div class="container">
            <div class="slider">
                <div class="item-container">
                    <div v-for="(elem, index) in imagesArray" class="item" :class="iscorrente(index)">
                        <img :src="elem">
                    </div>
                </div>
                <div v-show="(corrente >= 0)" class="prev" @click="next"> &rarr; </div>
                <div v-show="(corrente >= 0)" class="next" @click="prev"> &larr; </div>
                <div class="circles-container">
                    <div v-for="(elem, index) in imagesArray" class="circle" :class="iscorrente(index)" @click="corrente = index"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>